//
// TOFLIT18 LAYOUT
// --------------------------------------------------

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin-bottom: 2em;
    background: $white;
    -webkit-font-smoothing: antialiased;
}

main {
    &.container-global {
        min-height: 100%;
        padding: 0 0 4em 0;
    }
}
