{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "mocha": true
  },
  "extends": "airbnb/base",
  "globals": {
    "sigma": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": 0,
    "consistent-return": 0,
    "curly": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "indent": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "no-loop-func": 0,
    "no-param-reassign": 0,
    "one-var": 0,
    "padded-blocks": 0,
    "react/jsx-uses-react": 1,
    "spaced-comment": 0
  }
}
