//
// TOFLIT18 TEMPLATE LAYOUT
// --------------------------------------------------

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: $white;
    -webkit-font-smoothing: antialiased;

    //
    // Responsive
    // --------------------------------------------------
    @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
    }
}
