//
// TOFLIT18 TEMPLATE LAYOUT
// --------------------------------------------------

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: $white;
    -webkit-font-smoothing: antialiased;

    //
    // Responsive
    // --------------------------------------------------
    @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
    }
}

.container.content {
    margin-bottom: 2em;

    //
    // Responsive
    // --------------------------------------------------
    @media (max-width: $screen-xs-max) {
        margin-top: 5em;
        padding: 0 15px;
    }

    @media (min-width: $screen-xs-max) {
        margin-top: 8em;
        padding: 0 30px;
    }
}
