//
// TOFLIT18 TEMPLATE SECTION VIZ
// --------------------------------------------------
.section {
    &-viz {
        position: relative;
        top: 3.2em;
        border-bottom: 1px solid #eeeeee;

        @media (max-width: $screen-xs-max) {
            overflow: hidden;
            min-height: calc(100vh - 7em);
            margin-bottom: 5em;
        }
    }
}

// Content
// --------------------------------------------------
.content {
    &-viz {
        .col-xs-12 {
            position: relative;
            height: calc(100vh - 150px);

            //
            // Responsive
            // --------------------------------------------------
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                height: calc(100vh - 172px);
            }
        }

        //
        // Responsive
        // --------------------------------------------------
        @media (max-width: $screen-xs-max) {
            overflow: hidden;
            padding-top: 2.5em;
            padding-bottom: 3em;
        }
    }
}
