//
// TOFLIT18 TEMPLATE SECTION VIZ
// --------------------------------------------------
.section {
    &-viz {
        position: relative;
        top: 3.2em;
        border-bottom: 1px solid #eeeeee;

        //
        // Responsive
        // --------------------------------------------------
        @media (min-width: $screen-xs-max) {
            height: calc(100vh - (150px + 3em));
            overflow: hidden;
        }

        @media (max-width: $screen-xs-max) {
            overflow: hidden;
            margin-bottom: 5em;
        }
    }
}

// Content
// --------------------------------------------------
.content {
    &-viz {
        //
        // Responsive
        // --------------------------------------------------
        @media (max-width: $screen-xs-max) {
            overflow: hidden;
            position: relative;
            top: 3em;
            padding-bottom: 3em;
        }
    }
}

// Aside
// --------------------------------------------------
.aside {
    &-left,
    &-right {
        background-color: $white;
    }

    &-left {
        box-shadow: 0 2px 20px 0 rgba($olive-haze-darken, 0.2);
        border-left: 1px solid lighten($olive-haze-darken, 40%);

        //
        // Responsive
        // --------------------------------------------------
        @media (min-width: $screen-xs-max) {
            margin-top: 85px;
            height: calc(100vh - (150px + 3em + 85px));
            overflow-y: auto;
        }

        @media (max-width: $screen-xs-max) {
            .btn-nav-left {
                left: 110%;
            }
        }
    }

    &-right {
        box-shadow: 0 -2px 20px 0 rgba($olive-haze-darken, 0.2);
        border-right: 1px solid lighten($olive-haze-darken, 40%);

        //
        // Responsive
        // --------------------------------------------------
        @media (min-width: $screen-xs-max) {
            height: calc(100vh - (150px + 3em));
            overflow-y: auto;
        }
    }
}
