//
// TOFLIT18 ORGANISM ASIDE
// --------------------------------------------------
.aside {
    &-left,
    &-right {
        background-color: $white;
        overflow: auto;
        height: calc(100vh - 12.5em);

        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
            height: calc(100vh - 14.8em);
        }
    }

    &-left {
        box-shadow: 0 2px 20px 0 rgba($olive-haze-darken, 0.2);
        border-left: 1px solid lighten($olive-haze-darken, 40%);

        //
        // Responsive
        // --------------------------------------------------
        @media (max-width: $screen-xs-max) {
            display: none;
        }

        @media (min-width: $screen-xs-max) {
            margin-top: 5.5em;
            height: calc(100vh - 19em);
            overflow-y: auto;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: calc(100vh - 20.5em);
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: calc(100vh - 21.6em);
        }

        @media (min-width: $screen-lg-min) and (max-width: $screen-xlg-max) {
            height: calc(100vh - 20.5em);
        }

        @media (min-width: $screen-xlg-max) {
            height: calc(100vh - 19em);
        }
    }

    &-right {
        box-shadow: 0 -2px 20px 0 rgba($olive-haze-darken, 0.2);
        border-right: 1px solid lighten($olive-haze-darken, 40%);

        //
        // Responsive
        // --------------------------------------------------
        @media (max-width: $screen-xs-max) {
            display: none;
        }

        @media (min-width: $screen-xs-max) {
            height: calc(100vh - 13.5em);
            overflow-y: auto;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: calc(100vh - 14.8em);
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: calc(100vh - 16.2em);
        }

        @media (min-width: $screen-lg-min) and (max-width: $screen-xlg-max) {
            height: calc(100vh - 14.8em);
        }

        @media (min-width: $screen-xlg-max) {
            height: calc(100vh - 13.6em);
        }
    }
}
