//
// TOFLIT18 COMPONENTS ORGANISM BOX SELECTION
// --------------------------------------------------
.box {
    &-selection {
        width: 25%;
        padding: 1em;
        background-color: lighten($olive-haze, 25%);
        box-shadow: 0 2px 20px 0 rgba($olive-haze-darken, 0.2);
        border-bottom: 1px solid lighten($olive-haze-darken, 40%);
        border-left: 1px solid lighten($olive-haze-darken, 20%);

        //
        // Responsive
        // --------------------------------------------------
        @media (min-width: $screen-xs-max) {
            @include position(absolute, 0, 0, null, 0, 100);
        }

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }

        @media (min-width: $screen-md-min) {
            width: 16.66667%;
        }

        @media (min-width: $screen-sm-min) {
            height: 5.5em;
        }

        h2 {
            color: $olive-haze-darken;
            font-size: 1.3em;

            //font-weight: bold;
            margin: 0 0 0.5em;
        }
    }
}
