//
// TOFLIT18 ORGANISM FOOTER
// --------------------------------------------------
footer {
    position: absolute;
    bottom: 0;

    @include flexbox;
    @include align-items(center);

    width: 100%;
    height: 4em;
    background-color: $white;

    ul {
        margin: 0;
    }
}
