//
// TOFLIT18 ORGANISMS NAVBAR-HEADER
// --------------------------------------------------
header {
    .navbar {
        margin-bottom: 0;
    }

    //
    // Responsive
    // --------------------------------------------------
    @media (min-width: $screen-xs-max) {
        .navbar-brand {
            margin-right: 5.5em;
        }
    }

    .navbar-nav {
        > li {
            font-size: 1.2em;
        }
    }
}
