//
// TOFLIT18 ORGANISMS NAVBAR-HEADER
// --------------------------------------------------
header {
    .navbar {
        margin-bottom: 0;
    }

    .navbar-nav {
        //
        // Responsive
        // --------------------------------------------------
        @media (min-width: $screen-xs-max) {
            margin-left: 9%;
        }

        > li {
            font-size: 1.2em;
        }
    }
}
