//
// TOFLIT18 ORGANISM WELL GLOSSARY
// --------------------------------------------------
.well {
    padding: 0.5em 1em;
    margin-bottom: 1em;

    @include box-shadow(none);

    dt {
        color: $sandal-darken;
        margin-bottom: 0.5em;
    }

    dd {
        color: $olive-haze-darken;
    }
}
