//
// TOFLIT18 COMPONENTS PAGE GLOSSARY
// --------------------------------------------------
.section {
    &-search {
        margin-top: 52px;

        h1 {
            color: $squirrel;
            margin-bottom: 0.5em;
        }

        .search-result {
            strong {
                font-size: 1.4em;
            }
        }
    }
}
