//
// TOFLIT18 COMPONENTS PAGE VIEW
// --------------------------------------------------
.section {
    &-heading {
        position: relative;
        top: 3.2em;
        padding: 1em 1em;
        background-color: $mine-shaft;
    }
}
