//
// TOFLIT18 COMPONENTS ATOM BUTTON ICON
// --------------------------------------------------
.btn-icon {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include square(2em);
}

.btn-search {
    max-height: 36px;

    svg {
        font-size: 1.3em;
    }
}

// + for list
// --------------------------------------------------
.no-bullet {
    .btn-icon {
        @extend .btn-link;

        padding: 0;

        @include square(1.5em);
    }
}
