//
// TOFLIT18 COMPONENTS ATOM LIST LEGEND
// --------------------------------------------------
.list-legend {
    > li {
        @include flexbox;
        @include align-items(center);
    }

    li {
        > span {
            &:first-child {
                display: inline-block;

                @include size(5px, 12px);

                margin-right: 0.5em;
            }
        }
    }

    &.list-legend-circle {
        li {
            > span {
                &:first-child {
                    @include square(10px);

                    border-radius: 50%;
                }
            }
        }
    }
}
