//
// TOFLIT18 COMPONENTS ATOM TITLE
// --------------------------------------------------
.title {
    display: block;
    margin-bottom: 1em;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    color: $sandal-darken;
}
