//
// TOFLIT18 MOLECULS BOX VIZ
// --------------------------------------------------
.box-viz {
    position: relative;
    padding: 1em;
    border: 1px solid $gray-lighter;
    margin-bottom: 1em;
}
