//
// TOFLIT18 COMPONENTS MOLECULS FORM GROUP LIST
// --------------------------------------------------
.form-group-list {
    overflow-y: auto;
    height: calc(100vh - 18.5em);

    //
    // Responsive
    // --------------------------------------------------
    @media (min-width: $screen-lg-min) {
        padding: 1em 0;
    }
}
