//
// TOFLIT18 COMPONENTS MOLECULS NODE DISPLAY
// --------------------------------------------------
.node-display {
    display: inline-block;

    @include position(absolute, null, 1em, 1em, null, 10);

    padding: 0.5em 1em;
    background-color: $white;
    border: 1px solid rgba($dove-gray, 0.2);
    border-radius: $border-radius-base;
    box-shadow: 0 6px 12px rgba($dove-gray, 0.2);

    //
    // Responsive
    // --------------------------------------------------

    @media (max-width: $screen-xs-max) {
        left: 1em;
        width: calc(100% - 2em);
    }

    ul {
        margin-bottom: 0;
    }

    li {
        font-size: 0.9em;
    }

    // Title
    // --------------------------------------------------
    .title {
        margin-bottom: 0.2em;
        font-size: 1.1em;
    }
}
