//
// TOFLIT18 COMPONENTS MOLECULS PROGRESS BAR
// --------------------------------------------------
.progress-container {
    @include position(absolute, 0, 0, null, 0, 100);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include square(100%);

    background-color: rgba($white, 0.8);
}

.progress-line,
.progress-line:before {
    height: 3px;
    width: 50%;
}

.progress-line {
    background-color: lighten($sandal, 30%);

    @include flexbox;

    &:before {
        background-color: $sandal;
        content: '';
        animation: running-progress 1000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
    }
}

// Animations
// --------------------------------------------------
@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }

    50% {
        margin-left: 50%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }

    50% {
        margin-left: 50%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
