//
// TOFLIT18 STYLE Brand | Colors Variables
// --------------------------------------------------
$white: #ffffff;
$red: #D50000;
$mercury: #F7F7F7;
$mercury-darken: #E7E7E7;
$olive-haze: #B8AE9D;
$olive-haze-darken: #898071;
$sandal: #A38D67;
$sandal-darken: #847257;
$dove-gray: #616161;
$dove-gray-darken: #3D3D3D;
$mine-shaft: #363636;
$mine-shaft-darken: #0F0F0F;
$kilamanjaro: #1E1502;
$squirrel: #8C8375;
$cachou: #2F1B0C;
